@using System.Web.Optimization
@using System.Web.UI.WebControls
@using FoodOrder.DataAccess
@using FoodOrder.DataAccess.Model
@using NHibernate.Linq
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Food Order Station - Data Editor - @ViewBag.Title</title>
       
        @*    @Scripts.Render("~/script/modernizr")
    @Scripts.Render("~/script/jquery")
    @Scripts.Render("~/script/jqueryui")
    @Scripts.Render("~/script/bootsrap")*@
    
        @*<script src="~/Scripts/modernizr-2.7.2.js" ></script>    
        <script src="~/Scripts/jquery-2.1.1.js" ></script>
        <script src="~/Scripts/jquery-ui-1.10.4.js" ></script>
        <script src="~/Scripts/jquery-ui-1.10.4.js" ></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.js" ></script>
        <script src="/Scripts/jquery.validate.js" ></script>
        <script src="/Scripts/jquery.validate.unobtrusive.js" ></script>
        <script src="/Scripts/bootstrap.js" ></script>
        <script src="/Scripts/knockout-3.1.0.js" ></script>*@

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/knockout")        
        @Scripts.Render("~/bundles/jquery-fileupload")
        
        <script>

            $(function() {
                $('#open-file-upload-dlg').click(function() {
                    $('#csvFileUploadDialog').dialog("open");
                });
            });
            

        </script>
    </head>
    <body>        
        @{
            Html.RenderAction("UploadCsv", "Menu");
        }
        


        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Food Orders", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})                    
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stores<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @{
                                    foreach (var store in (IRepository<Store>)ViewBag.Stores)
                                    {
                                        <li>@Html.ActionLink(store.Name, "Details", "Store", new { id = store.Id }, null)</li>
                                    }
                                }
                                <li class="divider"></li>
                                <li>@Html.ActionLink("All", "Index", "Store")</li>                                                               
                                <li>@Html.ActionLink("New", "Create", "Store")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            @*@Html.ActionLink("Menu Items", "Index", "MenuItems", new Dictionary<string, object>
                            {
                                {"class", "dropdown-toggle" },
                                {"data-toggle", "dropdown"}
                            })*@
                            <a href="@Url.Action("Index", "Menu")" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("All", "Index", "Menu", null, null)</li>
                                <li>@Html.ActionLink("Add Item", "Create", "Menu")</li>
                                @*<li>@Html.ActionLink("Upload", "UploadCsv", "Menu")</li>*@
                                <li><a href="#" id="open-file-upload-dlg">Upload</a></li>
                                <li class="divider"></li>
                                @{
                                    if (((IRepository<Store>) ViewBag.Stores).Any())
                                    {
                                        foreach (var store in (IRepository<Store>) ViewBag.Stores)
                                        {
                                            <li>@Html.ActionLink(store.Name, "View", "Menu", new {id = store.Id}, null)</li>
                                        }
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Create a store", "Create", "Store")</li>                                        
                                    }
                                }

                            </ul>
                        </li>
                        <li>@Html.ActionLink("Extras", "Index", "Extras")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div><!-- /.navbar-collapse -->
            </div>
        </div> 
        
        <div class="container body-content">
            
            @RenderBody()
            
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>

        </div>
        
        @RenderSection("scripts", required: false)        
    </body>
</html>
